* {
    font-family: 'Cafe24SsurroundAir';
}
html,body {
    height: 100vh;
    margin: 0 auto;
}
input {
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
    line-height: 180%;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}
li {
    list-style: none;
    padding: 0;
    margin: 0 auto;
}
li a {
    text-align: center;
    text-decoration: none;
    margin: 0 auto;
}
li a:hover {
    background-color: gray;
}
header {
    height: 10vh;
    color:black;
    border-bottom: solid 1px black;
    padding: 5px;
}
#title { 
    margin-left: 30px;
}
main {
    display:grid;
}
.list {
    background-color: darkgray;
    height: 4.2vh;
}
#create_btn {
    width: 5rem;
    margin-left: 15rem;
    text-align: center;
    height:4.2vh;
}
#create_btn:hover {
    background-color: gray;
}
#clan {
    float: left;
    width: 13.7%;
}
#clan a {
    display: block;
    font-size: 1rem;
    width: 100%;
    line-height: 4.2vh;

}
#clan:hover #data {
    display: block;
}
#data {
    display: none;
    background-color: darkgray;
}
.center {
    width: 70%;
    margin: 0 auto;
    background-color: ivory;
    display: grid;
    padding: 20px;
}
.body {
    min-height: 70vh;
}
.body pre {
    white-space: pre-wrap;
    padding-left: 10px;
    padding-right: 10px;
}
.body h2 {
    border-bottom: 1px solid black;
    padding: 10px;
    margin-top: 3px;
}
.control {
    display: flex;
    flex-direction: row;
    text-align: center;
    text-decoration: none;
    width: 100%;   
    height: 3vh;
    padding-top: 50px;
}
.control a {
    background: gray;
    font-size: 1rem;
    height: 2rem; 
    width: 4rem;
    border-radius: 10px;
    margin-right: 1vw;
}
.control form {
    padding: 0;
    text-decoration: none;
}
.control form input {
    border: none;
    background: gray;
    font-size: 1rem;
    height: 2rem; 
    width: 4rem;
    border-radius: 10px;
    margin-right: 1vw;
}
input[type='text'] {
    width: 40vw;
    height: 3vh;
}
textarea {
    width: 40vw;
    height: 68vh;
}

#create {
    display: flex;
}
#create a {
    border: none;
    background: gray;
    font-size: 1rem;
    height: 2rem; 
    width: 4rem;
    border-radius: 10px;
    margin-right: 1vw;
    text-align: center;
}
#create input {
    border: none;
    background: gray;
    font-size: 1rem;
    height: 2rem; 
    width: 4rem;
    border-radius: 10px;
    margin-right: 1vw;
    text-align: center;

}
#update {
    display: flex;
}
#update a {
    border: none;
    background: gray;
    font-size: 1rem;
    height: 2rem; 
    width: 4rem;
    border-radius: 10px;
    margin-right: 1vw;
    text-align: center;
}
#update input {
    border: none;
    background: gray;
    font-size: 1rem;
    height: 2rem; 
    width: 4rem;
    border-radius: 10px;
    margin-right: 1vw;
    text-align: center;
}


@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}